body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

.orange-color {
    color: orangered;
}

.abc {
    display: flex;
    margin-bottom: 120px;
    ;
}

.adiv {
    width: 50%;
    padding: 10;
}

.adiv img {
    width: 60%;
}

.link {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: rgb(226, 212, 15);
    font-weight: 900;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.bcd {
    display: flex;
    padding: 10%;

}

h2 {
    font-size: 40px;
}

.xyz {
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px red;
    border-radius: 10px;
}

#one {
    border-left: 7px solid tomato;
}

#two {
    border-left: 7px solid blue;
}

.exp {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.x {
    color: red;
}

footer p {
    text-align: center;
    color: red;
    font-weight: bolder;
}